<html lang="en">
<head>
    <% include ../partials/head %>

</head>

<body>
   <header>
    <% include ../partials/navbar %>
  </header>
  

  <div id="headerwrap">
      <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <h4>HELLO PEOPLE, MY NAME IS</h4>
          <h1>PAUL SILVA</h1>
          <h4>WEB DESIGNER, DEVELOPER & GAME ADDICT</h4>
        </div>
      </div><! --/row -->
      </div> <!-- /container -->
  </div><! --/headerwrap -->

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/>

</body>

</html>